@font-face {
    font-family: eiei;
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    font-family: "Noto Sans", sans-serif;
}
.frame{
    max-width: 100vw;
    height: 100vh;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;

}
.contain{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
img{
    width: 240px;
    height: 140px;
    border-radius: 8px;
}
.box{
    display: grid;
    width: 250px;
    height: 400px;
    grid-template-rows: 30% 70%;
}
h1{
    font-size: 25px;
    font-weight: 600;
}
@media screen and (max-width: 700px) {
    .contain{
        grid-template-columns: 1fr 1fr;
    }
    img{
        width: 190px;
        height: 100px
    }

}
 @media screen  and (max-width: 400px){
    .contain{
        grid-template-columns: 1fr;
    }
    img{
        width: 140px;
        height: 70px
    }
 }