.frame{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}
.contain{
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}
.contain2{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 15% 85%;
    border-radius: 13px;
    width: 360px;
    height: 240px;
}
img{
    width: 280px;
    height: 180px;
    object-fit: cover;
    align-self: center;
    display: flex;
    justify-self: center;

}
label{
    color: white;
    font-size: 20px;
    padding: 22px;
    margin-left: 13px;
}