body{
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.frame{
    width: 100%;
    height: 100%;
    display: flex;
}
.contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    width: 50%;
    height: 400px;
    text-align: center;
    border: 1px rgb(216, 216, 216) solid;
    border-collapse: collapse;
}
td,th{
    border: 1px rgb(216, 216, 216) solid;
}
button{
    margin-top: 15px;
    background-color: rgb(44, 104, 234);
    color: white;
    height: 35px;
    width: fit-content;
    border: none;
    border-radius: 4px;
}