.frame{
    width: 100vm;
    height: 100vh;
 
}
.contain{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    
    
}
.frame{
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    
}
.box{
    display: grid;
    grid-template-rows: 80% 20%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(195, 192, 192);
}
img{
    width: 275px;
    height: 300px;
}