.frame{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
 
}
.contain{
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    padding: 20px;
}
.frame{
    
    width: 100%;
    height: 800px;
    

    
}
.box{
    display: grid;
    grid-template-rows: 80% 20%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(195, 192, 192);
}
img{
    width: 100%;
    height: 300px;
}
@media screen and (max-width: 650px){
    .contain{
        grid-template-columns: 1fr 1fr;
    }
    img{
        height: 160px;
    }
}
@media screen  and (max-width: 300px){
    .contain{
        grid-template-columns: 1fr;
    }
    img{
        height: 100px;
    }
}