.box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 350px;
    background-color: antiquewhite;
    gap: 20px;
    /* display: flex;
    justify-content: end; */
    border: 1px solid rgb(110, 110, 110);
}
button{
    width: 60px;
    height: 20px;
    margin-left:50px;
    
}
input{
    width: 200px;
}