.frame{
    width: 100vw;
    height: 100vh;
}
.contain{
    width: 600px;
    height: 325px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr  1fr;
    row-gap: 0px;
   
}
.contain_score{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.score1{
    width: 98%;
    height: 50%;
    background-color: rgb(88, 88, 86);
    display: flex;
    align-items: center;
    
}
.score2{
    width: 85%;
    height: 50%;
    background-color: rgb(43, 39, 234);
    display: flex;
    align-items: center;
}
.score3{
    width: 65%;
    height: 50%;
    background-color: rgb(3, 101, 42);
    display: flex;
    align-items: center;
}
.score4{
    width: 72%;
    height: 50%;
    background-color: rgb(105, 22, 153);
    display: flex;
    align-items: center;
}
.score5{
    width: 69%;
    height: 50%;
    background-color: rgb(175, 10, 10);
    display: flex;
    align-items: center;
}
label{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-self: center;
}
h2{
    font-family: 'Roboto';
    font-weight: 400;
    display: flex;
    align-self: center;
    font-size: 19px;
    justify-self: center;
}
h1{
    font-size: 30px;
    font-family: 'Roboto';

}
h3{
    font-family: 'Roboto';
    font-weight: 400;
    display: flex;
    align-self: center;
}
h4{
    font-family: 'Raleway';
    font-weight: 400;
}
