.frame{
    width: 100%;
    height: 100%;
    width: fit-content;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
h1{
    padding: 14px;
}
.contain{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}
table{
    width: 100%;
    height: 70%;
    /* width: fit-content; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100vw;
    height: 100vh;
    font-family: 'Raleway';
}
.x{
    background-color: rgb(103, 174, 204);
    
    text-align: center;
    /* height: 15%; */
    border: 2px solid ;
    color: red;
    border-color: black;
}
td{
    width: 50px;
    height: 50px;
}
.y{
    background-color: white;
    text-align: center;
    /* height: 15%; */
    border: 2px solid;

}
