 @font-face {
            font-family: UngingFontEiei;
            src: url(font/Mali-Regular.ttf);
        }

body {
    font-family:"Roboto";
    font-size: 16px;
}

.frame{
    width: 100vw;
    height: 100vh;

}
.contain{

    width: 350px;
    height: 440px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
input{
    width: 340px;
    height: 20px;
}
button{
    width: 350px;
    height: 30px;
    background-color: #309ae5;
    border: 1px ;
    color: white;
    border-radius: 5px;
    font-size: 12px ;
}