@font-face {
            font-family: UngingFontEiei;
            src: url(./Roboto-VariableFont_wdth\,wght.ttf);
        }
.frame{
    max-width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.contain{
    width: 100%;
    height: 100%;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100 px;
    height: 300px;

}
.boxx{
    width: 100 px;
    height: 300px;
    border: 1px rgb(193, 193, 193) solid;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
h6{
    color: blue;
    font-size: 13px;
    text-decoration: underline;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    
}
p{
    padding: 10px;
}
body{
    font-family: UngingFontEiei ;

}
h5{
    font-size: 20px;
    margin-left: 10px;
}
 @media screen and (max-width:700px){
    .box{
        grid-template-columns: 1fr;
    }
 }