.frame{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.contain{
    width: 100%;
    height: 100%;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100 px;
    height: 300px;

}
.boxx{
    width: 100 px;
    height: 300px;
    border: 1px rgb(193, 193, 193) solid;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h6{
    color: blue;
    text-decoration: underline;
}