form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.contain{
    background-color: antiquewhite;
    width: 400px;
    height: 300px;
}
.box{
    padding-top: 4px;
    display: flex;
}
button{
    margin-top: 4px;
}