.frame{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.contain{
    width: 100%;
    height: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    width: 60% !important;
    border-collapse: collapse;
    margin-bottom: 5px;
}

body{
    height: 100vh;
    width: 100vw;

}