body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    gap: 10px;
}
.contain{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 19px;
}
select{
    height: 25px;
}
table{
    margin-top: 30px;
    width: 550px;
   border-collapse: collapse; 
   /* เส้นตารางผสานกัน */
}
td , th{
     border: 1px solid rgb(211, 211, 211);
}
th{
    background-color: rgb(55, 200, 151);
    color: white;
}