.frame{
    width: 100vw;
    height: 100vh;
}
.contain{
    width: 100%;
    height: 50%;
}
img{
    width: 120px;
    height: 120px;
}
button{
    width: 60px;
    height: 34px;
    font-family: 'Noto Sans Thai';
    border-radius: 10px;
    border: 1px solid black;

    font-size: 15px;
}
body{
    font-family: 'Noto Sans Thai';
}
/* .colorPink{
    background: #f0a1fa !important;
} */