.score1{
    width: 98%;
    background-color: aquamarine;
    background-color: aqua;
    height: 20px;
}
table{
    width: 500px;
    height: 500px;
}

.score2{
    width: 85%;
    height: 20px;
    background-color: blueviolet;
}
.score3{
    width: 85%;
    height: 20px;
    background-color: rgb(43, 208, 226);
}
.score4{
    width: 85%;
    height: 20px;
    background-color: rgb(50, 255, 173);
}
.score5{
    width: 85%;
    height: 20px;
    background-color: rgb(43, 208, 226);
}
