body{
    width: 100vw;
    height: 100vh;
}
.contain{
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.box{
    width: 100%;
    height: 20px;
}