.contain{
    max-width: 100%;
    height: 100%;

    padding: 20px;
}
.box{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 400px;
}
.pic{
    display: grid;
    grid-template-rows: 40% 10% 50%;
}
img{
    width: 300px;
    height: 150px;
    border-radius: 10px;
}
@media screen and (max-width:700px) {
    .box{
        grid-template-columns: 1fr 1fr ;
        img{
            width: 130px;
            height: 100px;
            margin-bottom: 10px;
        }
        
    }
}
@media screen and (max-width:300px){
    .box{
        grid-template-columns: 1fr ;
        img{
            width: 130px;
            height: 100px;
            margin-bottom: 10px;
        }
        
    }
}